<div class="is-full-screen is-relative balboa-plus-inline about-conntainer">
  <div class="container">
    <h1 class="balboa-plus-primary">Me</h1>
    <p>
      Developer, Freelancer, Designer and everything that is in my power to
      learn.
    </p>

    <p>
      I like programming since the first time that I had contact with it,
      started when I was 12yo. I’m always trying to do my best at work, it makes
      me glad knowing that I may be doing a difference in the place where I`m
      working.
    </p>

    <p>
      When I’m not at work I share my time with Freelances and Family, I love
      projects so I’m always surrounded by them, I definitely like to walk with
      my dog and have a good time with my family and friends.
    </p>

    <p>Here are some of the technologies that I worked with:</p>
    <p>* Java, C#, JavaScript, TypeScript, Dart, Swift, PL/SQL, PHP;</p>
    <p>
      * Angular JS, Angular, VueJS, ReactJS, ReactNative, Flutter, Cordova,
      NodeJS;
    </p>
    <p>* JBoss, Glassfish, Payara, Tomcat, Weblogic;</p>
    <p>* CentOS;</p>
    <p>* MySQL, Oracle, Sql Server, MongoDB, Neo4j, Cassandra, Kafka;</p>
  </div>
</div>
