<div class="is-full-screen is-relative links-container hide-xs hide-sm">
  <img
    class="is-animated float"
    style="top: -1rem; left: -10rem"
    src="assets/links/Frame-1.svg"
  />
  <img
    class="is-animated float"
    style="top: 10rem; right: 50rem"
    src="assets/links/Frame-2.svg"
  />
  <img
    class="is-animated float"
    style="top: 50vh; left: 40rem"
    src="assets/links/Frame-3.svg"
  />
  <img
    class="is-animated float"
    style="top: 90vh; left: -10rem"
    src="assets/links/Frame-7.svg"
  />
  <img
    class="is-animated float"
    style="top: 40vh; right: -10rem"
    src="assets/links/Frame.svg"
  />
  <img
    class="is-animated float"
    style="top: 80vh; right: 0rem"
    src="assets/links/Frame-7.svg"
  />

  <img
    (click)="openInsta()"
    class="is-animated float pointer"
    style="top: 18vh; left: 35vh; animation-delay: -1500ms"
    src="assets/links/Frame-5.svg"
  />
  <img
    (click)="openGit()"
    class="is-animated float pointer"
    style="top: 73vh; right: 100vh; animation-delay: 800ms"
    src="assets/links/Frame-6.svg"
  />
  <img
    (click)="openLinkedin()"
    class="is-animated float pointer"
    style="top: 33vh; right: 53vh; animation-delay: -2000ms"
    src="assets/links/Frame-4.svg"
  />
</div>
<div
  class="is-full-screen is-relative is-horizontal-align is-vertical-align column hide-md hide-lg"
>
  <img
    (click)="openInsta()"
    class="is-animated float pointer"
    style="animation-delay: -1500ms"
    src="assets/links/Frame-5.svg"
  />
  <img
    (click)="openGit()"
    class="is-animated float pointer"
    style="animation-delay: 200ms"
    src="assets/links/Frame-6.svg"
  />
  <img
    (click)="openLinkedin()"
    class="is-animated float pointer"
    src="assets/links/Frame-4.svg"
  />
</div>
