<div>
  <wills-intro id="intro"></wills-intro>
  <wills-experiences id="experiences"></wills-experiences>
  <wills-recomendations id="recomendations"></wills-recomendations>
  <wills-about id="about-me"></wills-about>
  <wills-links id="some-links"></wills-links>
  <div class="is-full-width is-horizontal-align">
    <img src="assets/divider_horizontal.svg" />
  </div>
  <div
    id="talk"
    class="is-full-width is-vertical-align column balboa-plus-inline mt-40"
  >
    <h1 (click)="mailMe()" class="is-marginless pointer">
      WILLIANDRADE@ME.COM
    </h1>
    <h2 (click)="callMe('+5541998056128')" class="is-marginless pointer">
      +55 (41) 99805-6128
    </h2>
    <h2 (click)="callMe('+13069938683')" class="is-marginless pointer">
      +61 (0) 416-597-573
    </h2>
  </div>
  <div class="is-full-width is-horizontal-align balboa-plus mt-40">
    <h6 class="is-marginless">designed and developed by me</h6>
  </div>
  <footer class="footer"></footer>
</div>
